@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-color: #8CC1EB;
}

header p,
header h1 {
    margin: 0;
    color: #fff;

}

header p {
    font-size: 20px;
    padding: 10px 0;
}

header h1 {
    font-size: 40px;
    padding-top: 30px;

}

.title-color {
    color: yellow;
}

.page-content {
    width: 100%;
    margin: 0 auto;
    background: #75e2e9;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background-image: -moz-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
    background-image: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
    background-image: -ms-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
}

.form-cox-content {
    background: #fff;
    width: 1100px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 95px 0;
    position: relative;
}

.form-cox-content .form-detail {
    position: relative;
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.form-cox-content .form-detail h2 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 34px;
    padding: 33px 50px 0px 60px;
}

.form-cox-content .form-detail .form-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

.form-cox-content .form-detail .form-left h2 {
    color: #2271dd;
}

.form-cox-content .form-detail .form-right {
    width: 100%;
    background: #4835d4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-cox-content .form-detail .form-right h2 {
    color: #fff;
}

.form-cox-content .form-detail .form-group {
    display: flex;
    display: -webkit-flex;
}

.form-cox-content .form-detail .form-row {
    position: relative;
    margin-bottom: 24px;
    padding-left: 60px;
    padding-right: 50px;
}

.form-cox-content .form-detail .form-left .form-group .form-row.form-row-1 {
    width: 50%;
    padding: 0 12px 0 60px;
}

.form-cox-content .form-detail .form-left .form-group .form-row.form-row-2 {
    width: 50%;
    padding: 0 50px 0 12px;
}

.form-cox-content .form-detail .form-left .form-group .form-row.form-row-3 {
    width: 73%;
    padding: 0 12px 0 60px;
}

.form-cox-content .form-detail .form-left .form-group .form-row.form-row-4 {
    width: 50%;
    padding: 0 50px 0 12px;
}

.form-cox-content .form-detail .form-right .form-group .form-row.form-row-1 {
    width: 50%;
    padding: 0 12px 0 60px;
}

.form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 {
    width: 100%;
    padding: 0 50px 0 12px;
}

.form-cox-content .form-detail select,
.form-cox-content .form-detail input {
    width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.form-cox-content .form-detail select {
    background: 0 0;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.form-cox-content .form-detail .form-left select {
    color: #666;
}

.form-cox-content .form-detail .form-right select {
    color: #f2f2f2;
}

.form-cox-content .form-detail .select-btn {
    z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}

.form-cox-content .form-detail .form-left .select-btn {
    color: #666;
}

.form-cox-content .form-detail .form-right .select-btn {
    color: #f2f2f2;
}

.form-cox-content .form-detail .form-group .form-row.form-row-4 .select-btn {
    top: 20%;
    right: 26%;
}

.form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
    top: 20%;
    right: 19%;
}

.form-cox-content .form-detail .form-left input[type=text] {
    color: #000;
}

.form-cox-content .form-detail .form-right input {
    color: #fff;
}

.form-cox-content .form-detail .form-left input[type=text],
.form-cox-content .form-detail .form-left select {
    border-bottom: 1px solid #ccc;
}

.form-cox-content .form-detail .form-left input[type=text]:focus,
.form-cox-content .form-detail .form-left select:focus {
    border-bottom: 1px solid #999;
}

.form-cox-content .form-detail .form-right input,
.form-cox-content .form-detail .form-right select {
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.form-cox-content .form-detail .form-right input:focus,
.form-cox-content .form-detail .form-right select:focus {
    border-bottom: 1px solid #ccc;
}

.form-cox-content .form-detail .form-right select option {
    background: #4835d4;
}

.form-cox-content .form-detail .form-checkbox {
    margin-top: 37px;
    padding: 0 50px 0 60px;
    position: relative;
}

.form-cox-content .form-detail .form-checkbox input {
    position: absolute;
    opacity: 0;
}

.form-cox-content .form-detail .form-checkbox .checkmark {
    position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.form-cox-content .form-detail .form-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.form-cox-content .form-detail .form-checkbox input:checked~.checkmark::after {
    display: block;
}

.form-cox-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}

.form-cox-content .form-detail .form-checkbox .text {
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
}

.form-cox-content .form-detail .form-right .form-row-last {
    padding-left: 60px;
    margin: 44px 0 10px;
}

.form-cox-content .form-detail .form-right .register {
    background: #fff;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    width: 180px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 15px;
}

.form-cox-content .form-detail .form-right .register:hover {
    background: #ccc;
}

.form-cox-content .form-detail .form-right .form-row-last input {
    padding: 12.5px;
}

.form-cox-content .form-detail .form-left input[type=text]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666;
    font-size: 16px;
}

.form-cox-content .form-detail .form-left input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: #666;
    font-size: 16px;
}

.form-cox-content .form-detail .form-left input[type=text]:-ms-input-placeholder {
    /* IE 10+ */
    color: #666;
    font-size: 16px;
}

.form-cox-content .form-detail .form-left input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: #666;
    font-size: 16px;
}

.form-cox-content .form-detail .form-right input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #f2f2f2;
    font-size: 16px;
}

.form-cox-content .form-detail .form-right input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f2f2f2;
    font-size: 16px;
}

.form-cox-content .form-detail .form-right input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f2f2f2;
    font-size: 16px;
}

.form-cox-content .form-detail .form-right input:-moz-placeholder {
    /* Firefox 18- */
    color: #f2f2f2;
    font-size: 16px;
}

/*======================================
        Login Page Style 
 ========================================*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

.loginForm {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.loginForm * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.loginForm h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710 !important;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.error-msg {
    color: #fff;
    background: red;
    display: none;
    /* padding: 10px;
    border-radius: 20px; */
}

/*======================================
        Login Page Style 
 ========================================*/
.success {
    background-color: #56E865;
    height: 100vh;
    width: 100%;
}
.success div{
    text-align: center;
    padding-top: 10%;
}

/* ====================================
                Responsive
========================================== */
@media screen and (max-width: 1199px) {
    .form-cox-content {
        margin: 95px 20px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .form-cox-content .form-detail .form-group {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-1,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-2,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-3,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-4,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-1,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 {
        width: auto;
        padding: 0 50px 0 60px;
    }

    .form-cox-content .form-detail .select-btn,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
        right: 15%;
    }

}

@media screen and (max-width: 767px) {
    .form-cox-content .form-detail {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

    .form-cox-content .form-detail .form-right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .form-cox-content .form-detail .form-left {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 18px;
    }

    .form-cox-content .form-detail .form-group {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

    .form-cox-content .form-detail .form-row,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-1,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-2,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-3,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-4,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-1,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 {
        width: auto;
        padding: 0 30px;
    }

    .form-cox-content .form-detail .select-btn,
    .form-cox-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
    .form-cox-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
        right: 15%;
    }

    .form-cox-content .form-detail h2 {
        padding: 33px 30px 0px 30px;
    }

    .form-cox-content .form-detail .form-checkbox {
        padding: 0 30px;
    }

    .form-cox-content .form-detail .form-checkbox .checkmark {
        left: 30px;
    }

    .form-cox-content .form-detail .form-right .form-row-last {
        padding-left: 0;
        text-align: center;
        margin: 44px 0 30px;
    }
}